.container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-family: "Libre Baskerville";
    position: relative;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
    /* width: 280px; */
    width: 200px;
}
.container:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 10px 8px 0px;
    transform: scale(1.05);
}

.img {
    transition: 0.5s;
    /* width: 280px; */
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.sale {
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
    width: 50px;
    height: 30px;
    border-radius: 2px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--white);
    background: var(--brownlight);
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverDetail {
    /* background: rgb(138, 255, 134); */
    padding: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.name {
    font-size: 18px;
}
.price {
    color: var(--brownlight);
    font-size: 14px;
    font-style: italicï£¿;
}

.rateCustom :global(.ant-rate) {
    /* background: rgb(255, 133, 133); */
    display: inline-block;
    margin-bottom: 4px;
    padding: 0;
    color: var(--brownlight);
    font-size: 12px;
}

.star :global(.ant-rate-star):not(:last-child) {
    margin-right: 2px;
}

.star :global(.ant-rate-star-second) {
    color: var(--gray5);
    /* background: var(--gray4); */
    /* transition: all 0.3s; */
    user-select: none;
}
:global(.Stock_rateCustom__IaJVW) :global(.ant-rate) {
    margin-bottom: 2px;
    padding: 0;
    color: var(--brownlight);
    font-size: 12px;
    outline: none;
}

.button {
    /* width: 100%; */
    height: 40px;
    border-radius: 2px;
    background: var(--brownlight);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.textButton {
    font-size: 12px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 18px;
    margin-right: 10px;
}
